.tree-block {
  width: 400px;
  margin: 0 auto;

  button {
    background: none;
    margin: 10px;
    border-color: #b96be8;
    padding: 10px;
    color: #d464de;
    font-size: 1.2rem;
  }

  ul {
    padding: 0;
  }
}
